@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    box-sizing: border-box;
    color: #2f2f2f;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px; 
    color: #2f2f2f;
    margin-bottom: 15px;
}

li{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px; 
    color: #292929;
}

a{
    color: #0621b9;
    text-decoration: none;
}
a{
    &:hover, &:focus{
        outline: none;
        text-decoration: none;
    }
}

#expenceTrackerApp{
    height: 100vh;
    overflow: hidden;
}

/* button style */
.et_seeall_btn{
    background-color: #465cd5;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &.et_seeall_btn_white{
        background-color: #ffffff;
        color: #465cd5;

        &:hover{
            background-color: #f7f8ff;
        }
        &:focus{
            background-color: #f7f8ff;
        }
    }

    &:hover{
        background-color: #364cc9;
    }
    &:focus{
        background-color: #364cc9;
    }
}
/* button style */

/* Main Content */
.et_main_content{
    height: 100%;
    width: 100%;
    max-width: 450px;
    min-width: inherit;
    margin: 0 auto;
    position: relative;
    background-color: #eff2f6;
}
/* Main Content */

/* Body */
.et_page_container {
    padding: 20px 30px 100px;
    min-height: calc(100vh - 130px);

    h2{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
    }
}
.et_input_error{
    font-size: 90%;
    color: #f44336;
}
.et_new_payment_form_sccess{
    background-color: #06ab3d;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px;
}
/* Body */

/* PrimeVue cutomization */
.p-scrollpanel-content{
    padding: 0;
    width: 100%;
    position: static;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
}
.p-scrollpanel .p-scrollpanel-bar {
    background: rgba(46, 46, 46, 0.29);
    border: 0 none;
}
.p-ripple{
    &.ripple-blue{
        .p-ink{
            background: rgba(70, 92, 213, 0.5);
        }
    }
}
.p-component{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
}
.p-inputnumber{
    .p-inputtext{
        border-radius: 5px;
        border: 0;
    }
}
.p-button{
    border-radius: 5px;

    &.p-button-primary{
        color: #ffffff;
        background: #364cc9;
        border: 1px solid #364cc9;
    
        &:enabled:hover{
            background: #2b42c4;
            border-color: #2b42c4;
        }
        &:enabled:focus{
            background: #2b42c4;
            border-color: #2b42c4;
        }
    }
}
.p-inputtext, .p-dropdown{
    border-radius: 5px;
    border: 0;
}
/* PrimeVue cutomization */