.et_rows{
    margin-top: 20px;

    h3{
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.et_spent_cat{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;

    .et_spent_cat_icon{
        width: 30px;
        flex-shrink: 0;
    }

    .et_spent_cat_title{
        width: 100%;
        font-weight: 500;
    }

    .et_spent_cat_amount{
        width: 60px;
        flex-shrink: 0;
        text-align: right;
        font-weight: 600;
        color: #0621b9;
    }
}