.et_new_payment_form{
    .p-field{
        margin-bottom: 15px;
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .et_new_payment_submit{
        .p-button{
            width: auto;
        }
    }
}