.et_header{
    height: 60px;
    padding: 10px 30px;
    border-bottom: 1px solid #d9e5f5;
    display: flex;
    align-items: center;

    h1{
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0;
        font-weight: 600;
    }
}